/* Site Stylesheet:

  1. Font Faces
  2. Global Styles
  3. Typography Styles
  4. Section Styles

================================== */

/* || 1. Font Faces */

@font-face {
  font-family: 'Playfair Display Black Italic';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_gGUXtHA-Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Playfair Display Black';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v28/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKfsunDXbtM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro Light Italic';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKwdSBYKcSV-LCoeQqfX1RYOo3qPZZMkids18Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro Regular Italic';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK1dSBYKcSV-LCoeQqfX1RYOo3qPZ7nsDI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro Regular';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro Medium';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Sans Pro Black';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdu.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* || 2. Global Styles */

* {
  font-family: 'Source Sans Pro Regular';
  font-size: 18px;
  word-spacing: .04em;
}

body {
  margin: 0px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* || 3. Typography Styles */

/* Navigation */

nav {
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  z-index: 1;
}

nav li {
  display: inline;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin: 20px 30px;
  font-family: 'Source Sans Pro Bold';
  font-size: medium;
  letter-spacing: .1em;
  color: black;
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  transition: border-bottom 0.3s ease-in-out,
              color 0.1s ease-in-out;
}

nav li a:hover {
  border-bottom: 2px solid hsl(150, 59%, 43%);
  color: hsl(150, 59%, 43%);
  text-decoration: none;
}

/* Header */

header {
  margin: 3% 0 0 15%;
  width: 80%;
}

header h1 {
  font-family: 'Playfair Display Black';
  font-size: 7em;
  padding: 30px;
  /* border: 15px solid hsl(25, 75%, 47%); */
  border: 15px solid hsl(150, 59%, 43%);
  border-top: transparent;
  /* border-left: transparent  ; */
  border-right: transparent;
  border-bottom: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

header span {
  font-size: 1em;
  color: hsl(150, 59%, 43%);
}

header p {
  text-align: right; 
}

.banner-text {
  display: inline-block;
  margin-left: 5%;
  width: 25%;
}

.banner-btn {
  display: block;
  flex-flow: row nowrap;
  align-content: center;
  justify-items: center;
  text-align: center;
  width: 40%;
  height: 20%;
  padding: 1em 2em;
  margin: 10px 0;
  float: right;

  /* Button Aesthetics */
  border: 2px solid hsl(0, 0%, 0%);
  font-family: 'Source Sans Pro Black';
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-decoration: none;
  transition: background-color .2s ease-in-out;
}

.banner-btn:hover {
  background-color: hsl(0, 6%, 36%);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.banner-btn:active {
  background-color: hsl(0, 6%, 46%);
  color: hsl(0, 0%, 100%);
}

/* Anchor Tags */
a {
  text-decoration: none;
  color: black;
  font-size: inherit;
  color: hsl(150, 53%, 32%);
  transition: color .3s ease-in-out;
}

a:hover {
  color: hsl(150, 59%, 43%);
  text-decoration: underline;
}

a:active {
  color: hsla(150, 44%, 46%, 0.61);
}

/* Sections */

ul {
  padding-left: 0;
  list-style-type: none;
}

h1 {
  font-family: 'Source Sans Pro Black';
  font-weight: 900;
  font-size: 2em;
}

h2 {
  font-family: 'Source Sans Pro Bold';
  font-size: 1.5em;
}

h3 {
  font-family: 'Source Sans Pro Medium';
  font-size: 1.17em;
  margin: 0;
}

h4 {
  font-family: 'Source Sans Pro Regular';
}

h5 {
  font-family: 'Source Sans Pro Regular';
  font-size: .83em;
}

h6 {
  font-family: 'Source Sans Pro Regular';
  font-size: .67em;
}

.body-small {
  font-family: 'Source Sans Pro Regular';
  font-size: .87em;
}

.subtitle {
  font-family: 'Source Sans Pro Regular Italic';
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .7em;
}

.btn {
  font-family: 'Source Sans Pro Bold';
  text-transform: uppercase;
  font-size: medium;
}

.caption {
  font-family: 'Source Sans Pro Regular';
  font-style: italic;
  font-size: .8em;
}

/* Footer */

footer {
  margin: 10% 10% 2% 15%;
  width: 60%;
}

footer p {
  margin: 0;
}

/* || 4. Section Styles */

#colour,
#typography,
#buttons {
  margin: 5% 10% 5% 15%;
  width: 60%;
  padding-top: 3%;
}

.section-header {
  /* border: 15px solid hsl(25, 75%, 47%); */
  border: 5px solid hsl(150, 59%, 43%);
  border-top: transparent;
  /* border-left: transparent  ; */
  border-right: transparent;
  border-bottom: transparent;
  padding-left: 5px;
}

/* Swatches Styles */

#swatch-1,
#swatch-2 {
  width: 45%;
  margin: 20px 0px;
  padding: 20px;
}

#swatch-1 {
  background-color: hsl(125, 98%, 62%);
  color: hsl(90, 92%, 5%);
  display: inline-block;
}

#swatch-2 {
  background-color: hsl(90, 92%, 5%);
  color: hsl(125, 98%, 62%);
  display: inline-block;
}

.swatch-name {
  padding-bottom: 15px;
}

/* Buttons */

.button {
  /* Button Dimensions */
  display: inline-block;
  flex-flow: row nowrap;
  align-content: center;
  /* justify-items: center; */
  text-align: center;
  width: 15%;
  height: 20%;
  padding: 10px;
  margin: 10px;

  /* Button Aesthetics */
  border: 2px solid hsl(0, 0%, 0%);
  font-family: 'Source Sans Pro Black';
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.primary {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

.secondary {
  color: hsl(0, 0%, 0%);
}

.hover {
  background-color: hsl(0, 6%, 36%);
  color: hsl(0, 0%, 100%);
}

.active {
  background-color: hsl(0, 6%, 46%);
  color: hsl(0, 0%, 100%);
}

.disabled {
  background-color: hsl(0, 3%, 17%);
  color: hsl(0, 8%, 59%);
  /* opacity: .4; */
}

.secondary-disabled {
  opacity: .5;
}

.text {
  border: none;
  text-transform: none;
  font-size: large;
  font-family: 'Source Sans Pro Regular';
  letter-spacing: normal;
}

.text-visited {
  color: hsl(249, 36%, 37%);
}

.text-hover {
  color: hsl(150, 59%, 43%);
}

.text-active {
  color: hsla(150, 44%, 46%, 0.61);
}

.text-disabled {
  opacity: .5;
}
